BankingAppNet_CH/target/classes/sfdc_contact.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="12344" doc:name="HTTP Listener Configuration"/>
    <sfdc:config name="Salesforce__Basic_Authentication" username="${sfdc.user_name}" password="${sfdc.password}" securityToken="${sfdc.security_token}" doc:name="Salesforce: Basic Authentication"/>
     
    <flow name="sfdc_contactFlow">
        <logger message="getting SFDC contatc for : #[payload]" level="INFO" doc:name="Logger"/>
        <sfdc:query-single config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT AccountId,Birthdate,Email,HomePhone,MobilePhone,Phone FROM Contact WHERE (FirstName = '#[json:FirstName]' AND LastName = '#[json:LastName]')" doc:name="Salesforce"/>
        <dw:transform-message metadata:id="5fe21496-d683-4d66-9e9d-b440f60de5b5" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	Email: payload.Email,
	HomePhone: payload.HomePhone,
	Phone: payload.Phone,
	MobilePhone: payload.MobilePhone
}]]></dw:set-payload>
        </dw:transform-message>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="SFDC Contact data: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
