BankingAppNet_Payment_CH/target/classes/issuing_Bank.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd">
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" database="b2_test_db" doc:name="MySQL Configuration"/>
    <http:request-config name="HTTP_Request_Configuration_AccountsAPI" host="${account.api.url}" port="${http.account.port}" basePath="/api" doc:name="HTTP Request Configuration"/>
    <flow name="issuing_BankFlow">
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <tracking:custom-event event-name="IssuingBankPayment" doc:name="Custom Business Event">
            <tracking:meta-data key="UserId" value="#[json:Account/UserId]"/>
            <tracking:meta-data key="AcctNum" value="#[json:Account/AccountNumber]"/>
            <tracking:meta-data key="Bank" value="#[json:Account/BankName]"/>
            <tracking:meta-data key="Sum" value="#[json:Account/Sum]"/>
        </tracking:custom-event>
        <set-variable variableName="PaymentAcountData" value="#[payload]" mimeType="application/json" doc:name="Variable"/>
        <dw:transform-message metadata:id="641379ac-f1b7-449b-b2a6-ea6cd1ead329" doc:name="Transform Message">
            <dw:input-payload doc:sample="Payment_Account_Fragment.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Debiting Customer account  #[payload.Account.AccountNumber], sum=#[payload.Account.Sum]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration_AccountsAPI" path="/Account/{account_id}" method="GET" doc:name="getAcount">
            <http:request-builder>
                <http:uri-param paramName="account_id" value="#[payload.Account.AccountNumber]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message metadata:id="c63d3bce-b6ec-4a9c-aebd-fb1d39a5ee3c" doc:name="Transform Message">
            <dw:input-payload/>
            <dw:input-variable variableName="AcountData"/>
            <dw:input-variable variableName="PaymentRaw"/>
            <dw:input-variable variableName="PaymentAcountData"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	Account: {
		CustomerId: payload.Account.CustomerId,
		AccountNumber: payload.Account.AccountNumber,
		AccountType: payload.Account.AccountType,
		AccountBalance: payload.Account.AccountBalance - flowVars.PaymentAcountData.Account.Sum,
		AccountInterestRate: payload.Account.AccountInterestRate
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="SourceAcct" value="#[payload]" doc:name="Variable" mimeType="application/json"/>
        <objectstore:store config-ref="MyObjectStore" key="SRC_ACCOUNT_BALANCE" value-ref="#[json:Account/AccountBalance]" doc:name="ObjectStore" overwrite="true"/>
        <set-payload value="#[flowVars.SourceAcct]" doc:name="Set Payload" mimeType="application/json"/>
        <http:request config-ref="HTTP_Request_Configuration_AccountsAPI" path="/Account/{account_id}" method="PUT" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="account_id" value="#[json:Account/AccountNumber]"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="Updated Acount:#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
